@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">FABULOUS SECRET POWERS</h1>
    <p><iframe width="560" height="315" src="https://www.youtube.com/embed/FR7wOGyAzpw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
</div>

<p></p>

<h1 class="ml15">
    <span class="word">FABULOUS</span>
    <span class="word">SECRET</span>
    <span class="word">POWERS</span>
</h1>

<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>