@using CarInsuranceApp.Models;
@model List<CarInsuranceAppApply>

<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
        <div class="card-header text-center">
            <h5 class="m-0">Applications</h5>
        </div>
        <div class="card-body">
            @foreach (var apply in Model)
            {
                <div class="row">
                    <div class="col">
                        @apply.FirstName
                    </div>
                    <div class="col">
                        @apply.LastName
                    </div>
                    <div class="col">
                        @apply.EmailAddress
                    </div>                                    
                </div>
            }
        </div>
    </div>
</div>