<div class="row no-gutters m-3">
  <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
    <div class="card-header text-center">
      <h5 class="m-0">Sign up to apply for Northern Car Insurance.</h5>
    </div>
    <div class="card-body">
      @using (Html.BeginForm("Apply", "Home", FormMethod.Post))
      {
        <div class="row">
          <div class="form-group col-md-6">
            <input name="FirstName" type="text" class="form-control" placeholder="First Name" required/>
          </div>
          <div class="form-group col-md-6">
            <input name="LastName" type="text" class="form-control" placeholder="Last Name" required />
          </div>
          <div class="form-group col-md-6">
            <input name="EmailAddress" type="email" class="form-control" placeholder="Email Address" required />
          </div>
          <div class="form-group col-md-6">
            <input name="DateOfBirth" type="text" class="form-control" placeholder="Date of Birth MM/DD/YYYY" required />
          </div>
          <div class="form-group col-md-6">
            <input name="CarYear" type="number" class="form-control" placeholder="Year of Car" required />
          </div>
          <div class="form-group col-md-6">
            <input name="CarMake" type="text" class="form-control" placeholder="Make of Car" required />
          </div>
          <div class="form-group col-md-6">
            <input name="CarModel" type="text" class="form-control" placeholder="Model of Car"  required/>
          </div>
          <div class="form-group col-md-6">
            <input name="Dui" type="number" class="form-control" placeholder="# of DUI's?" required />
          </div>
          <div class="form-group col-md-6">
            <input name="SpeedingTickets" type="number" class="form-control" placeholder="# of Speeding Tickets"   required/>
          </div>
          <div class="form-group col-md-6">
            <input name="Coverage" type="text" class="form-control" placeholder="Full Coverage or Liability?" required/>
          </div>
          <button type="submit" class="btn btn-block btn-primary">Submit</button>
        </div>
      }
    </div>
  </div>

</div>